* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  background-color: yellow;
}

.keyboard-container {
  margin-top: 35%;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237;
}

.glyphicon-remove {
  color : #CD2626;
}

.well-highlight{
  background-color: #343a40;
  color: #f8f9fa;
}

.output-line {
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 20px;
  margin-top: 3px;
  margin-left: 1em;
  margin-right: 1em;
}
.footer {
  font-family: 'Courier New', Courier, monospace;
  justify-content: 'flex-center' ;
}