* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#yellow-block {
  display: inline-block;
  position: absolute !important;
  margin-top: 5px;
  width: 24px;
  height: 32px;
  background-color: yellow;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  text-align: left;
}

.keyboard-container {
  margin-top: 30%;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237;
}

.glyphicon-remove {
  color : #CD2626;
}

.well-highlight{
  background-color: #343a40;
  color: #f8f9fa;
}

.para-wrapper {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  height: 42px;
}

.output-line {
  display: inline-block;
  position: static;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  padding-top: 5px;
  height: 27px;
}

.footer {
  font-family: 'Courier New', Courier, monospace;
  justify-content: 'flex-center' ;
  font-weight: bold;
}

.disable_text_highlighting {
  -webkit-user-select: none; /* Webkit */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE 10  */
  /* Currently not supported in Opera but will be soon */
  -o-user-select: none;
  user-select: none;
  }